.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/build/
example/pubspec.lock
.opencode
